h1 {
    text-align: center;
    padding: 10px;
    color: var(--background-secundario);
    font-family: var(--secundary-font);
}

.dgv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.resultado {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50rem;
}

.titulos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: inherit;
    background-color: var(--background-secundario);
    color: var(--branco);
    border-radius: 5px 5px 0 0;
}

.titulo {
    border-right: 1px solid var(--branco);
    padding: 10px;
    text-transform: uppercase;
}


.dados {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: inherit;
}

.dados_linhas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: inherit;
}

.col {
    padding: 10px;
}

.c1 {
    width: 6%;
}

.c2 {
    width: 33%;
}

.c3 {
    width: 17%;
}

.c4 {
    width: 30%;
}

.c5 {
    width: 14%;
}

.operacoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconeop {
    width: 20%;
    cursor: pointer;
    transition: 0.5s;
}

.iconeop:hover {
    transform: scale(1.5);
}