.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aba {
    background-color: var(--background-secundario);
    color: var(--font-color-principal);
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-right: 1px;
    cursor: pointer;
    transition: 0.5s;
}

.aba:hover {
    background-color: var(--cor-suporte);
}

.abaSelecionada {
    background-color: var(--background-principal) !important;
}